* {
    box-sizing: border-box;
    background-color: teal
}

:root {
    --background: gray;
}

body {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 0;
    grid-column: auto;
    margin-left: 0;


}

h3 {
    float: left;
    position: relative;
    left: 30px;
    margin: 10px;
    color: darkgreen;


}

h2 {
    position: relative;
    top: 50px;
}

header nav {
    float: right;
    font-size: 20px;

}

.App-header {
    display: flex;
    justify-content: center;
}

.wrap {
    float: left;
    margin-left: 200px;
    position: relative;
    top: -200px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-left: 450px;
}

header,
footer {
    background-color: teal;
    position: relative;

}

.navbar {
    display: flex;
    justify-content: center;
    /* Center the content horizontally */
}

.navbar ul {
    list-style-type: none;
    /* Remove default list styles */
    display: flex;
    /* Display the list items horizontally */
    padding: 0;
}

.navbar li {
    margin: 0px;

    /* Add some spacing between list items horizontally */
}

.header p {
    text-align: left;
    margin-left: 250px;
}

.connection {
    display: flex;
    width: 100%;
    position: relative;

}

/* #about-me {
    width: 45%;
} */

#work {
    height: 100px;
}

main {
    flex-wrap: wrap;

}

.body nav navbar {
    font-weight: bold;
}

.nav {
    padding: 0;
    list-style: none;
    display: flex;
}

.nav {
    border-radius: 20px;
    border-color: teal;
}

.nav p {
    padding: 20px;
}

.nav li h3 {
    display: flex;
    display: inline;
    line-height: 3em;
    width: 100%;
    text-decoration: none;
    text-align: center;


}

.my-icon a svg {
    color: black;
    position: relative;
    left: 610px;
    /* Display the list items horizontally */
    font-size: 36px;
}

/* .my-icon {
    display: flex;
    /* Use flexbox */

.my-icon a {
    margin-right: 30 px;
}

a {
    color: black;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;

}

section.card {
    width: 47%;
    flex: row;
    flex: 1 0 1;

}

/*set flex properties to suit specifications of mockup*/
section.card-1 {
    width: 97%;
    flex-wrap: wrap;

}

.card {
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    flex-wrap: wrap;
}

.card-1 {
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    width: 100%;
}

.card img {
    width: 100%;
    height: 300px;

    display: grid;
    align-items: center;
}

.card-1 img {
    display: grid;
    width: 100%;
    height: 300px;
}


h2.style {
    position: absolute;
    display: block;
    right: 50px;
}

.picture {
    justify-content: left;
    position: relative;
    left: -150px;
}

.professional {
    height: 300px;
    width: 100%;
    background-image: url("./images/professional\ pic.jpg");
    background-size: cover;
    background-position: center;
    text-align: end;
    line-height: 500px;
    color: white;
}

#profile-picture img {
    margin-right: 50px;

}

.relative {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    height: 300px;



}

section.nav {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#work {
    height: 100%;
}

.card header {
    padding: 20px;
    background: teal;
    color: #fff;
    background-image: linear-gradient(teal, white);

}

.card-1 header {
    padding: 20px;
    background: teal;
    color: #fff;
    background-image: linear-gradient(teal, white);
}

.card:hover {
    background-color: teal;
    color: white;
}

.card-1:hover {
    background-color: teal;
    color: white;
}

.card:active {
    box-shadow: 0 0 10 px;
}

.card-1:active {
    box-shadow: 0 0 10 px;
}

.card-1:focus {
    outline: none;
    border-color: blue;
}

.card:focus {
    outline: none;
    border-color: blue;
}

.my-tooltip:hover {
    cursor: pointer;
}

main.my-tooltip work {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;

}

.my-tooltip.code.card-1.card-1 img.card img {
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    display: column;

}

.code {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 220px;
    /*adjusted code, per AskBCS Learning assistant to remove display: grid attrbute*/

}

#contact-me p li {
    position: absolute;
    bottom: 8px;
    left: 16px;

}

footer p li a {
    float: right;
    font-size: 20px;
    padding: 0;
    margin: 0;



}

footer div ul li {
    display: inline-block;
    margin-left: 25px;
    left: 30px;
    border: 1px;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;

}


/*media properties insured responsive design at varying sizes*/

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 300px;
    }

}